//variable
    $green-darken: darken(#e4ede0, 15%);
$blue-darken: darken(#dfe7ed, 15%);
    $red-darken: darken(#eddfdf, 15%);
*{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
body{
    background: #f2f2f2;
    color: #555555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    
}
h1{
        font-weight: 300;
        font-size: 2.4rem;
    }

input, button, select{
    font-size: 1.3rem;
}

@import './components/wrapper';
@import './components/titleBar';
@import './components/bodyCss';
@import './components/items';
@import './components/button';
@import './components/person';
@import './components/form';