.button{
    background: transparent;
    border-style: solid;
    line-height: 1;
    color: #555555;
    cursor: pointer;
    font-weight: 600;
    margin-left: 1.3rem;
    outline: none;
   // padding: 1.3rem;
    transition: background .2s ease transform .2s ease;
    box-shadow: none !important;
    padding: auto;
    
    &:hover, &focus{
        background: #e8e8e8;
        color: #555555;
    }
    
    &:active{
        background: #dddddd;
        transform: scale(1.1);
    }
}

.button--round{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    
}

.button--addPerson{
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
   background-color: #07006b;
    color: white;
    font-weight: 1200 ;
    font-size: 1.6rem;
}