.item{
    background: white;
    border: 1px solid lightgray;
    margin-bottom: 1.3rem;
    padding: 1.3rem;
    
   
}

.item--position-1{
    background: #e4ede0;
   
    border-color: $green-darken;
    
}

.item--position-2{
    background: #dfe7ed;
    border-color: $blue-darken;
}

.item--position-3{
    
     background: #eddfdf;
    border-color: $red-darken;
}

.item__message{
   font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

//BEM -> Block element modifier