
.person{
    align-items:center;
    display: flex;
    justify-content: space-between;
    
}
.person__name{
    font-weight: 300;
    font-size: 1.8rem;
    text-align: left;
    
}
.person__time{
    font-size: 1rem;
     font-style: italic;
    font-weight: 300;
   opacity: 0.6;
}
.person__stats{
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
}
.person__actions{
    flex-shrink: 0;
}